@model IEnumerable<QLVB.Models.DataModels.VanBan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}


<h1>Trang chính</h1>

<div class="feature">    
        @*<div>
            <label>Mã văn bản</label>
            <select>
                <option>--Chọn--</option>
                <option>AT16</option>
                <option>CT4</option>
                <option>DT3</option>
                <option>AT15</option>

            </select>
            <label>Mã văn bản</label>
            <select>
                <option>--Chọn--</option>
                <option>771/CĐ-BGD</option>
                <option>1478/CĐ-BGD</option>
                <option>4689/QĐ-BGD</option>
                <option>4377/QĐ-BGD</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Tìm kiếm" asp-action="Find"/>
        </div>*@
</div>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<table id="example" class="display">
    <thead>
        <tr>
            <th>STT</th>
            
            <th>
                Tên Văn Bản
            </th>
            
            <th>
                Mã 
            </th>
            <th>
                Mã Đơn Vị
            </th>
            
            <th>
                Người Ký
            </th>
            
            <th>
                Kiểu
            </th>

            <th>
                Trạng Thái
            </th>

            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @stt
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TenVB)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDV)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.NguoiKy)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Kieu)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Thông tin</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        stt++;
}
    </tbody>
</table>


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/index.js"></script>
}